

<div class='wrapper'>


  {%- assign section_image = section.settings.section_image -%}
  
  {{ section_image | image_url: width: section_image.width | image_tag: class: 'add_your_class_here', loading: 'lazy' }}
  <h2>{{ section.settings.heading }}</h2>
    <ul class="cert-list grid">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
        
            {%- when 'list-item' -%}
              {%- ########################################################################## 
              # Label: item
              # Returns: a string or an empty object(if nothing has been entered)
              # Filters: https://shopify.dev/api/liquid/objects#string 
              ########################################################################## -%}
              
          
          <li>{% render 'icon-tick' %}{{ block.settings.item }} </li>
        
        
        
        
          {%- endcase -%}
        {%- endfor -%}
      </ul>
      <div class='bottom grid'>
            {%- for block in section.blocks -%}
          {%- case block.type -%}
        
            {%- when 'footer-images' -%}
              {%- ########################################################################## 
              # Label: item
              # Returns: a string or an empty object(if nothing has been entered)
              # Filters: https://shopify.dev/api/liquid/objects#string 
              ########################################################################## -%}
              
          
         {{ block.settings.image | image_url: width: section_image.width | image_tag: class: 'add_your_class_here', loading: 'lazy' }} 
        
        
        
        
          {%- endcase -%}
        {%- endfor -%}
      </div>
  
   </div>   
  {% schema %}
    {
    "name": "Custom list grid",
    "class": "custom-list-grid",
    "max_blocks": 16,
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Heading",
        "placeholder": "Heading goes here"
      },
      {
        "type": "text",
        "id": "tagline",
        "label": "Tagline",
        "default": "Tagline",
        "placeholder": "Tagline goes here"
      },
      {
        "type": "image_picker",
        "id": "section_image",
        "label": "section image",
        "info": "Optional  image"
      }
    ],
    "blocks": [
      {
        "name": "List of items",
        "type": "list-item",
        "limit": 9,
        "settings": [
          {
            "type": "text",
            "id": "item",
            "label": "Item",
            "default": "Item goes here",
            "placeholder": "Item goes here"
          }
        ]
      },
          {
        "name": "Footer images",
        "type": "footer-images",
        "limit": 9,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Footer image"
  
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom list grid"
      }
    ]
  }  
  {% endschema %}
  
  
  {%- style -%}
  
  .custom-list-grid .wrapper{
    text-align:center;
    --gold: #f9aa0a;
    --font-color:#ffffff;
    --pd:4rem;
    --smpd:2rem;
    --bg-color:#353635;
    --iwh:1.8rem;
  }
  
  path {fill:var(--font-color);}
  
  .custom-list-grid .icon {
      width:1.3rem;
      height:1.3rem;
      margin-bottom:0px;
      border-radius:50%;
      background:var(--gold);
    }
  .bottom path { height:1rem;width:1rem;}
  
  .cert-list { 
    justify-content:center; 
    max-width:500px;
    margin:auto;
  
  }
  
  .cert-list svg {
      margin-right:0.3rem;
  }
  
  .cert-list li {
      padding: 0.5rem 1.25rem;
    
    
  }
  .bottom {
    justify-content:center; 
      max-width:750px;
    margin:auto;
    
  }
  
  .bottom img{
      width: 6rem;
      height: 100%;
      filter: grayscale(1);
  }
  
  
    .wrapper {
    background: var(--bg-color);
    color: var(--font-color);
    padding-top: var(--pd);
    padding-bottom: var(--smpd);
  }
  .wrapper h2, .wrapper h2
   {
    color:  var(--font-color);
  }
  .wrapper .icon {
    width: var(--iwh);
    height: var(--iwh);
  }
  .bottom {
    padding: var(--pd) 0 var(--smpd) 0;
  }
  
  {%- endstyle -%}
  
  
  {% stylesheet %}
  
  
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}