<ul class="grid product-grid contains-card contains-card--product contains-card--standard grid--4-col-desktop grid--2-col-tablet-down" role="list" >
  <li  class="grid__item">
    <div class="card-wrapper product-card-wrapper underline-links-hover">
      <div class="card   card--standard  card--media" style="--ratio-percent: 152.2994652406417%;">
        <div class="card__inner color-background-1 gradient ratio" style="--ratio-percent: 152.2994652406417%;">
          <div class="card__media">
            <div class="media media--transparent media--hover-effect">
              <img srcset="//sport-lite-demo.myshopify.com/cdn/shop/products/VeganDreamAllergy_SaltedChocoToffee_2.27kg-2022.png?v=1676548149&amp;width=165 165w,//sport-lite-demo.myshopify.com/cdn/shop/products/VeganDreamAllergy_SaltedChocoToffee_2.27kg-2022.png?v=1676548149&amp;width=360 360w,//sport-lite-demo.myshopify.com/cdn/shop/products/VeganDreamAllergy_SaltedChocoToffee_2.27kg-2022.png?v=1676548149&amp;width=533 533w,//sport-lite-demo.myshopify.com/cdn/shop/products/VeganDreamAllergy_SaltedChocoToffee_2.27kg-2022.png?v=1676548149&amp;width=720 720w,//sport-lite-demo.myshopify.com/cdn/shop/products/VeganDreamAllergy_SaltedChocoToffee_2.27kg-2022.png?v=1676548149 935w
                " src="//sport-lite-demo.myshopify.com/cdn/shop/products/VeganDreamAllergy_SaltedChocoToffee_2.27kg-2022.png?v=1676548149&amp;width=533" sizes="(min-width: 1600px) 367px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)" alt="Vegan Dream, Organic (Allergen Free) - Salted Choco Toffee" class="motion-reduce" loading="lazy" width="935" height="1424">
            </div>
          </div>
          <div class="card__content">
            <div class="card__information">
              <h3 class="card__heading">
                <a href="/products/vegan-dream-organic-allergen-free-salted-choco-toffee-1" id="StandardCardNoMediaLink-template--16083278954669__featured_collection-7301090181293" class="full-unstyled-link" aria-labelledby="StandardCardNoMediaLink-template--16083278954669__featured_collection-7301090181293 NoMediaStandardBadge-template--16083278954669__featured_collection-7301090181293"> Vegan Dream, Organic (Allergen Free) - Salted Choco Toffee </a>
              </h3>
            </div>
          </div>
          <div class="card__content">
            <div class="card__information">
              <h3 class="card__heading h5" id="title-template--16083278954669__featured_collection-7301090181293">
                <a href="/products/vegan-dream-organic-allergen-free-salted-choco-toffee-1" id="CardLink-template--16083278954669__featured_collection-7301090181293" class="full-unstyled-link" aria-labelledby="CardLink-template--16083278954669__featured_collection-7301090181293 Badge-template--16083278954669__featured_collection-7301090181293"> Vegan Dream, Organic (Allergen Free) - Salted Choco Toffee </a>
              </h3>
              <div class="card-information">
                <span class="caption-large light"></span>
                <div class="price  price--sold-out ">
                  <div class="price__container">
                    <div class="price__regular">
                      <span class="visually-hidden visually-hidden--inline">Regular price</span>
                      <span class="price-item price-item--regular"> £59.99 GBP </span>
                    </div>
                    <div class="price__sale">
                      <span class="visually-hidden visually-hidden--inline">Regular price</span>
                      <span>
                        <s class="price-item price-item--regular"></s>
                      </span>
                      <span class="visually-hidden visually-hidden--inline">Sale price</span>
                      <span class="price-item price-item--sale price-item--last"> £59.99 GBP </span>
                    </div>
                    <small class="unit-price caption hidden">
                      <span class="visually-hidden">Unit price</span>
                      <span class="price-item price-item--last">
                        <span></span>
                        <span aria-hidden="true">/</span>
                        <span class="visually-hidden">&nbsp;per&nbsp;</span>
                        <span></span>
                      </span>
                    </small>
                  </div>
                </div>
              </div>
            </div>

            <div class="card__badge bottom left">
              <span id="Badge-template--16083278954669__featured_collection-7301090181293" class="badge badge--bottom-left color-inverse">Sold out</span>
            </div>
          </div>
        </div>
      </div>
  </li>
</ul>