/**/
/* Replace  the header id for about page header*/
/**/
/**/
/**/

html {
    /* Smooth scroll  - Not working */
    /*     overflow-y: scroll;
    scroll-behavior: smooth; */
}

/* odd bug on mobile with scroll- */
/* html:has(body.overflow-hidden-tablet) {
 
       overflow: hidden; 
} */

:root {
    --header-transparancyColor: #ffffff4a;
    --product-grid-lr-margin: 2.6rem;
    --graphic-placement-imgtxt-tp-sm: -28.5px;
    --graphic-placement-imgtxt-tp-lg: -37.5px;
}

.header__icon--cart .icon-cart {
    height: 2.6rem;
    width: 4.4rem;
    padding: 0;
}

.scrolled-past-header .header-wrapper {
    background-color: var(--header-transparancyColor);
    animation-name: animate-header;
    animation-duration: 0.4s;

}

@keyframes animate-header {
    0% {
        top: -100%;
    }

    100% {
        top: 0;
    }
}

.shopify-section-group-footer-group {
    position: relative;
    background: white;
}

.list-menu--inline li:hover {
    background: #d6d6d6;


}

.header__menu-item:hover span {
    text-decoration: none !important;
}

/* Header and Navigation menu tweeaks   */

@media screen and (min-width: 990px) {
    .header--middle-left {

        column-gap: 0rem;
    }

    .header:not(.drawer-menu).page-width {
        padding-left: 4rem;

    }

}






/* landing page product grid  */
.grid.product-grid {
    margin-left: var(--product-grid-lr-margin);
    margin-right: var(--product-grid-lr-margin);
}

.collection__title.title-wrapper.title-wrapper--no-top-margin.page-width {
    margin-left: var(--product-grid-lr-margin) !important;
    margin-right: var(--product-grid-lr-margin) !important;
}


/* Typography */
@media only screen and (min-width: 750px) {
    .h0 {
        font-size: calc(var(--font-heading-scale) * 2.2rem);
    }
}

.h0 {
    font-size: calc(var(--font-heading-scale) * 2.2rem);
}


/*Font sizing*/
@media only screen and (min-width: 750px) {

    h1,
    .h1 {
        font-size: calc(var(--font-heading-scale) * 2.2rem);
        text-transform: uppercase;
    }

    h3,
    .h3 {
        font-size: calc(var(--font-heading-scale) * 2rem);
        font-weight: 600;
    }
}

/*Hide logo*/
h1.header__heading,
.header__heading-link {
    position: fixed;
    opacity: 0;
    left: 9999px;
}

.isolate .rich-text__wrapper {
    width: 100% !important;
    max-width: calc(100% - 10rem);
}


/*Image with text*/
.image-with-text {
    position: relative;
    background-color: white;
    max-width: none;
}

.image-with-text .media>img {
    object-fit: contain;
    top: var(--graphic-placement-imgtxt-tp-sm) !important;
}



@media screen and (min-width: 750px) {

    .image-with-text .media>img {
        object-fit: contain;
        top: var(--graphic-placement-imgtxt-tp-lg) !important;
    }

}

.image-with-text__media.image-with-text__media--medium.gradient.color-background-1.global-media-settings.media {
    overflow: visible !important;
}

.image-with-text .button {
    color: black !important;
    background-color: white !important;
}

/* Product flavourdrop down list */
#product-list,
.product-list {
    width: 100%;
    height: 4rem;
    color: black;
    background-color: white;
}



/* Magic muscle and Veagan drea more info page */
@media screen and (min-width: 990px) {
    .vegan-dream.page-width--narrow {
        max-width: none !important;
        padding: 0px;
    }

}


/*nutritional table pages*/

.muscle-magic .rte,
.vegan-dream .rte {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vegan-dream>h2 {
    background: #a7cf38;
    color: white;
    line-height: 3rem;
    font-size: 1.6rem;
    text-align: center;
}


/* Nutritional Table */

.performance-facts__table {
    font-size: 1rem;

}

@media only screen and (max-width: 375px) {

    /* #Banner-template--16116916158637__204aebdf-7542-4b77-bb53-025769a6894b::before,
  #Banner-template--16165276254381__e9bcf1f6-57a0-4dbb-abd7-88e50ec2786e::before,
  #Banner-template--16170929488045__e9bcf1f6-57a0-4dbb-abd7-88e50ec2786e::before{
      width: 100%;
      height:3rem;
      background: orange;
 
  } */

}


/*  Banner heaidng strip for pages : vegan dream, magic muscle and about page*/



#Banner-template--20390203621687__204aebdf-7542-4b77-bb53-025769a6894b .banner__content,
#Banner-template--20390109217079__204aebdf-7542-4b77-bb53-025769a6894b .banner__content,
#Banner-template--16116916158637__204aebdf-7542-4b77-bb53-025769a6894b .banner__content,
#Banner-template--20209608163639__204aebdf-7542-4b77-bb53-025769a6894b .banner__content {
    width: 100%;
    height: 3rem;
    background: #a7cf38;
    padding: 0;
    /* font-size: 0.1rem; */
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0;

}

#Banner-template--20390203621687__204aebdf-7542-4b77-bb53-025769a6894b .banner__box,
#Banner-template--20390109217079__204aebdf-7542-4b77-bb53-025769a6894b .banner__box,
#Banner-template--16116916158637__204aebdf-7542-4b77-bb53-025769a6894b .banner__box,
#Banner-template--20209608163639__204aebdf-7542-4b77-bb53-025769a6894b .banner__box {
    margin: 0;
    padding: 0;
    background: transparent;
}

#Banner-template--20390203621687__204aebdf-7542-4b77-bb53-025769a6894b .banner__box h2,
#Banner-template--20390109217079__204aebdf-7542-4b77-bb53-025769a6894b .banner__box h2,
#Banner-template--16116916158637__204aebdf-7542-4b77-bb53-025769a6894b .banner__box h2,
#Banner-template--20209608163639__204aebdf-7542-4b77-bb53-025769a6894b .banner__box h2 {
    color: white;
    background-color: transparent;
    font-size: 1.6rem;
    text-transform: none;
}

.vegan-dream h2 {
    text-transform: none !important;
}